/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/**
 * TODO remove all carousel from the kde website
 */

.carousel-indicators li {
  width: 60px !important;
  border-radius: 1px;
}

.carousel-control-prev, .carousel-control-next {
  top: 50%;
  height: 100px;
  width: 50px;
  margin-top: -50px;
  background-color: #FFF;
  position: absolute;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel {
  margin-bottom: 20px;

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item.dark-text {
    color: #333;
    text-shadow: none;
  }

  .carousel-item {
    color: #EEE;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    top: 0 !important;
    width: 100%;
    height: 100%;
    padding: 40px 50px;
  }

  .carousel-item > h1 {
    margin: 10px auto;
    text-align: center;
    display: block;
  }

  .carousel-item .alignBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 40px 50px;
    text-align: center;
  }

  .carousel-control-prev, .carousel-control-next {
    top: 50%;
    width: 30px;
    height: 100px;
    margin-top: -50px;
    background-color: #FAFAFA;
    opacity: 1;
    font-family: "glyph";
    color: #333;
    padding: 0;
    transition: width .2s;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    width: 50px;
  }

  .carousel-control-prev:before {
    content: "<";
    width: 100%;
    text-align: center;
  }

  .carousel-control-next:before {
    content: ">";
    width: 100%;
    text-align: center;
  }

  .carousel-control-prev {
    border-right: solid 2px #3daefd;
  }

  .carousel-control-next {
    border-left: solid 2px #3daefd;
  }
}

@media (max-width: 1700px) {
  #headerCarousel {
    height: 600px;
  }
}

@media (max-width: 1140px) {
  #headerCarousel {
    height: 500px;
  }
}

@media (max-width: 800px) {
  #headerCarousel {
    height: 400px;
  }
}
